body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollable::-webkit-scrollbar {
  width: 6px;     /* TamaÃ±o del scroll en vertical */
  height: 6px;    /* TamaÃ±o del scroll en horizontal */
}

.scrollable::-webkit-scrollbar-thumb {
  background: #1F4E79;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando estÃ© en hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando estÃ© en active */
.scrollable::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
